@charset "UTF-8";
div.reproductor-video {
  text-align: center; }
  div.reproductor-video #player {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover; }

div.video a img.logo {
  position: absolute;
  left: 50%;
  top: 10%;
  margin-left: -55px; }

div.iconosVideo svg {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: paleturquoise;
  float: left; }
  div.iconosVideo svg:hover {
    filter: brightness(70%); }

div.boton {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-top: -75px;
  margin-left: -75px; }

div.iconosAudio svg {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: paleturquoise;
  float: left; }
  div.iconosAudio svg:hover {
    filter: brightness(70%); }

div.iconosAudio {
  margin-left: 1em; }

body {
  font-family: "Raleway", sans-serif; }

/* MENU PRINCIPAL */
#cabecera {
  background-color: #262626;
  color: white;
  font-family: "Raleway:700", sans-serif; }

/* Logo */
.logo {
  padding-left: 4px;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  transition: filter 1s;
  -webkit-transition: -webkit-filter 1s; }
  .logo:hover {
    filter: brightness(70%); }
  .logo:active {
    filter: saturate(200%);
    -webkit-filter: saturate(200%); }

/* Busqueda */
#divForm form {
  width: 60%;
  height: 100%;
  margin-left: 40px; }
  #divForm form input[type="text"] {
    width: 100%; }
    #divForm form input[type="text"]:focus {
      border-color: paleturquoise;
      box-shadow: paleturquoise; }

/* Botones menu principal */
/* User, cesta y chat */
#user, #cesta, #chat {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 100%;
  color: white;
  width: 30%;
  padding: 0; }
  #user svg, #cesta svg, #chat svg {
    color: white; }
  #user:hover, #cesta:hover, #chat:hover {
    background-color: paleturquoise; }
    #user:hover svg, #cesta:hover svg, #chat:hover svg {
      color: black; }
  #user:focus, #cesta:focus, #chat:focus {
    outline: 0px; }

/* CATEGORIAS */
/* Menu hamburguesa*/
.hamburguer {
  cursor: pointer;
  width: 28px;
  margin: auto;
  float: left; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: paleturquoise;
  margin: 6px 0;
  transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }
.change .bar2 {
  opacity: 0; }
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

/* Pongo posicion absoluta para que aparezca por encima de galeria */
nav.navbar {
  background-color: rgba(38, 38, 38, 0.8);
  padding: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  border-top: 4px solid paleturquoise;
  /* Hago que las categorias ocupen el 100% del ancho de la pag*/ }
  nav.navbar ul {
    width: 100%;
    /* Divido las categorias horizontalmente */ }
    nav.navbar ul li {
      width: 17%;
      text-align: center;
      /* Categorias normales */
      /* Iconito de dropdow */ }
      nav.navbar ul li a.nav-link {
        color: white;
        margin: auto; }
      nav.navbar ul li:hover a.nav-link {
        color: paleturquoise;
        font-weight: bold;
        background-color: rgba(38, 38, 38, 0.5); }
      nav.navbar ul li .dropdown-toggle::after {
        margin-left: 1em !important; }

/* GALERIA CAROUSEL */
.carousel-item img {
  width: 100%;
  margin: auto;
  height: 400px; }

/* M├üS POPULARES */
.populares {
  margin: 5em auto;
  position: relative; }
  .populares h3 {
    margin-bottom: 1.5em; }
  .populares div {
    margin: auto;
    text-align: center; }
  .populares img {
    width: auto;
    height: 200px;
    margin: auto;
    display: block; }
  .populares .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: paleturquoise; }
  .populares .col-4:hover .overlay {
    opacity: 1;
    cursor: pointer; }
  .populares .overlay div {
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer; }
  .populares .logoPop {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 30%;
    cursor: pointer;
    height: auto;
    min-width: 85px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 12px 24px;
    text-align: center; }
  .populares span.precio {
    position: absolute;
    top: 80%;
    left: 5%;
    text-shadow: 1px 1px 1px;
    cursor: pointer; }
    .populares span.precio:hover {
      font-size: 1.2em; }
  .populares button {
    position: absolute;
    top: 90%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #17a2b8;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center; }
    .populares button:hover {
      background-color: #13b2ca; }
    .populares button a {
      color: white;
      text-decoration: none; }
  .populares .enlace {
    font-size: .5em;
    color: black; }

/* ------------------------------------------------------------------------------ */
/* FORMULARIO PRODUCTOS USADOS */
form {
  align-content: center; }

div.form-group {
  width: 50%;
  margin: 0 auto; }
  div.form-group label {
    display: block; }

/* ------------------------------------------------------------------------------ */
/* Producto */
.producto {
  margin: 50px 0; }
  .producto h1 {
    font-size: 32px;
    display: inline-block; }
  .producto .container-fluid {
    padding: 0; }
  .producto .container {
    position: relative; }
    .producto .container img {
      margin: 10px auto; }
  .producto .mySlides {
    display: none;
    width: 50%;
    height: 400px;
    margin: auto;
    align-items: center; }
    .producto .mySlides img {
      min-width: 300px; }
  .producto .cursor {
    cursor: pointer; }
  .producto .column {
    float: left;
    width: 16.66%;
    position: relative; }
  .producto .demo {
    opacity: 0.6;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .producto .active, .producto .demo:hover {
    opacity: 1;
    border-bottom: 3px solid paleturquoise; }

.logoMarca {
  width: 150px;
  float: right; }

/* Zona de boton comprar, env├¡o */
.compra h2 {
  text-align: center;
  margin-top: 3em; }
.compra button {
  background-color: #17a2b8;
  color: white;
  width: 100%;
  margin: 2em auto; }
  .compra button:hover {
    background-color: #13b2ca;
    box-shadow: 5px 5px 5px paleturquoise;
    font-weight: bold; }
.compra .autenticacion .btn:hover {
  background-color: #13b2ca;
  box-shadow: 5px 5px 5px paleturquoise;
  font-weight: bold; }
.compra aside {
  width: 100%;
  height: 200px;
  background-color: #262626;
  border-radius: 7%;
  color: paleturquoise; }
  .compra aside ul {
    list-style-type: none;
    text-align: center;
    padding: 1em 0;
    font-weight: bold;
    font-size: 1.5em; }
    .compra aside ul li:nth-child(2) {
      font-size: .5em;
      font-weight: normal;
      color: white; }
    .compra aside ul li:nth-child(3) {
      font-weight: normal;
      font-size: .9em;
      padding-top: 1em; }
    .compra aside ul li:nth-last-child(1) {
      font-weight: normal;
      font-size: .5em;
      color: white;
      padding-top: 1em; }

/* ------------------------------------------------------------------------------ */
.autenticacion {
  margin: 70px auto; }
  .autenticacion span {
    font-size: .8em;
    text-align: center; }
  .autenticacion .elige {
    width: 50%;
    margin: auto; }
  .autenticacion .signup, .autenticacion .login {
    width: 50%;
    background: white;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #3e3e40;
    color: paleturquoise; }
    .autenticacion .signup:hover, .autenticacion .login:hover {
      font-weight: bold;
      background-color: #262626; }
  .autenticacion .signup-form {
    padding: 40px;
    clear: both;
    width: 50%;
    box-sizing: border-box;
    height: 500px;
    margin: auto;
    text-align: center;
    display: none; }
  .autenticacion .login-form {
    padding: 40px;
    clear: both;
    width: 50%;
    box-sizing: border-box;
    height: 500px;
    margin: auto;
    text-align: center; }
  .autenticacion label {
    width: 100%;
    text-align: left; }
  .autenticacion input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #13b2ca;
    color: #3e3e40;
    font-size: 14px;
    outline: none;
    transform: all 0.5s ease; }
    .autenticacion input:focus {
      border: 2px solid paleturquoise; }
  .autenticacion .btn {
    background-color: #17a2b8;
    color: white;
    width: 100%; }
    .autenticacion .btn:hover {
      background-color: #13b2ca; }
  .autenticacion span a {
    text-decoration: none;
    color: #333232; }
    .autenticacion span a:hover {
      color: black;
      text-decoration: underline;
      font-weight: bold; }

/*FOOTER*/
footer a {
  color: paleturquoise; }
  footer a:hover {
    font-weight: bold;
    color: paleturquoise;
    text-decoration: none; }
footer li {
  margin-bottom: 1em; }

/* RESPONSIVE M├ôVIL */
@media only screen and (max-width: 767px) {
  .navbar {
    visibility: hidden; }
    .navbar li.nav-item {
      width: 100%;
      padding-left: 3em; }
    .navbar li a {
      width: 100%;
      text-align: left; }

  .populares .overlay div {
    font-size: .5em; }
  .populares img {
    width: auto;
    height: 100px;
    margin: auto;
    display: block; }
  .populares span.precio {
    top: 100%;
    left: 25%; }
    .populares span.precio:hover {
      font-size: 1em; }
  .populares button {
    left: 50%;
    top: 140%; }

  .autenticacion .elige {
    width: 100%;
    margin: auto; }
  .autenticacion .signup-form, .autenticacion .login-form {
    padding: 40px;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    height: 500px;
    margin: auto;
    text-align: center; }

  div.iconosAudio {
    height: 2em;
    width: 47%;
    margin: auto;
    padding-left: 1em; } }

/*# sourceMappingURL=estilos.css.map */
