// Colores
$colorFondo: #262626;
$fondoTransparencia:rgba(38,38,38, 0.5);
$blanco: white;
$turquesa: paleturquoise;
$negro: black;
$colorBoton: #17a2b8;
$colorBotonHov: #13b2ca;

//Fuentes
$fuente: 'Raleway', sans-serif;
$fuenteNegrita: 'Raleway:700', sans-serif;


//Mixins

@mixin reproductor(){
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: paleturquoise;
    float:left;

    &:hover{
        filter: brightness(70%);
    }
}